.about-content{
    margin-bottom: 100px;
  display: flex;
}
.map{
    padding: 10px 30px 10px 0;
}
.adress{
    padding: 10px 0 10px 10px;
}
.adress li{
    padding: 5px;
}
.adress h2{
    text-align: center;
}
.adress strong{
    font-size: 2.5rem;
    color: var(--sari);
}
.adress i{
    font-size: 1.5rem;
    color:aliceblue;
    padding: 0 8px 0 0;
}
.adress p{
    font-size: 2rem;
}

 .adress a{
    
    color:aliceblue;
} 

.footer{

    margin: 0;
}

.contact-social i {
    font-size: 2.5rem;
    padding: 1rem;
    
  }
  .contact-social i:hover {
    scale: 2;
  }
  .contact-social .face {
    color: #4267b2;
    margin-left: 100px;
  }
  .contact-social .twit {
    color: #1da1f2;
  }
  .contact-social .yout {
    color: #ff0000;
  }
  .contact-social .inst {
    color: #c13584;
  }

@media (max-width: 728px){

.about-content{
    display: block;
}
.map iframe{
    width: 300px;
    height: 300px;
}
.adress{
    padding: 10px;
}
.adress p{
    font-size: 1.7rem;
}
.contact-social .face{
  margin-left: 50px;
}

}